body{
  font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
}

h1{
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}
header{
  height: 100px;
}
footer{
  height: 80px;
  padding: 30px;
  text-align: center;
  background-color: purple;
  border-top: 2px solid white;
}

nav{
  width: 100%;
  background-color: rgba(46, 5, 5, 0.307);
}

nav ul{
  margin: 0px;
  padding: 0px;
}
nav li{
  list-style-type:none;
  float: left;

}

nav a{
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
  color: rgb(18, 20, 176);
  text-transform: uppercase;
font-size: 15px;
}
.table{
  display: table;
  margin: 0 auto;
}
.menu-ind:hover{
  border-top: 5px solid green;
  background-color: grey(64,200,130,0.15);
}
.menu-exp:hover{
  border-top: 5px solid rgb(75, 128, 0);
  background-color: grey(241,211,79,0.15);
}
.menu-hob:hover{
  border-top: 5px solid rgba(75, 128, 0, 0.837);
  background-color: grey(000,112,192,0.15);
}
.menu-con:hover{
  border-top: 5px solid rgb(46, 75, 4);
  background-color: grey(228,77,38,0.15);
}
nav li:hover a{
  padding:15px 30px 20px 30px ;
}